.carousel-inner img {
    width: 100%;
    max-height: 460px;
}

.carousel-inner{
 height: 500px;
}

footer{

    margin-top: 20px;
    padding: 10px;
    background-color: rgb(13, 68, 82);
}

main{
    font-family: 'Mooli', sans-serif;
}
